body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at center, #e0f7fa 0%, #ffffff 100%);
}


h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-shadow: 1px 1px 5px #0000009b;
  letter-spacing: .5rem;
}