.ruleta-container {
  text-align: center;
  margin-top: 20px;
  background-color: #1a1a1a;
}

.ruleta {
  margin: 0 auto;
  position: relative;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  border: 8px solid #333;
  transition: transform 6s cubic-bezier(0.33, 1, 0.68, 1);
  /* transition: transform 4s cubic-bezier(0.2, 0.8, 0.7, 0.99); */
  overflow: hidden;
}

.segmento {
  position: absolute;
  /* border: 1px solid red; */
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform-origin: 0% 0%;
  background-color: hsl(var(--hue), 70%, 80%);
}

.segmento span {
  position: absolute;
  border: .5px dotted #efefef43;
  border-left: none;
  top: -10px;
  left: 0;
  width: 100%;
  text-align: center;
  /* letter-spacing: .1rem; */
  font-size: .9em;
  transform-origin: 0% 100%;
  color: #fff;
}

/* 
.segmento:nth-child(odd) {
  background-color: rgba(253, 216, 53, 0.1);
} */

/* .segmento:nth-child(even) {
  background-color: rgba(79, 195, 247, 0.8);
}  */




.btn-girar {
  margin-top: 20px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.tarea-seleccionada {
  margin-top: 15px;
  font-weight: bold;
  font-size: 18px;
}
