.ruleta {
  /* text-align: center;
  margin-top: 20px; */
  width: 100%;
  /* max-width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.ruleta__wheel {
  background: radial-gradient(circle at center, #0000004e 10%, #1e3c72 60%, #ffffff34 100%);
  margin: 0 auto;
  position: relative;
  width: 25rem;
  height: 25rem;
  aspect-ratio: 1 / 1; /* mantiene el círculo perfecto */
  border-radius: 50%;
  border: .625rem solid #333;
  transition: transform 6s cubic-bezier(0.33, 1, 0.68, 1);
  overflow: hidden;
}

.ruleta__tarea-seleccionada {
  font-weight: bold;
  font-size: 1.425rem;
  letter-spacing: .2rem;
  text-align: center;
  text-shadow: 1px 1px 7px rgba(0, 0, 9, .5);
  min-height: 2rem; /* asegura que tenga altura estable */
  transition: all 0.3s ease; /* suaviza cambios de texto */
}

.ruleta__segment {
  position: absolute;
  /* border: 1px solid red; */
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform-origin: 0% 0%;
  background-color: hsl(var(--hue), 80%, 85%);
  border-right: 1px solid #ccc;

}

.ruleta__segment-text {
  position: absolute;
  border: .5px dotted #1a1a1a;
  border-left: none;
  top: -10px;
  left: 0;
  width: 100%;
  text-align: center;
  letter-spacing: .1rem;
  font-size: .9em;
  font-weight: 700;
  transform-origin: 0% 100%;
  color: #000;
  user-select: none;
}

.btn-ruleta__btn-girar  {
  margin-top: 1.125rem;
  padding: .625rem 1.25rem;
  font-weight: bold;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-ruleta__btn-girar:hover {
  background-color: #0056b3; /* más oscuro */
  transform: translateY(-2px); /* se eleva */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn-ruleta__btn-girar:active {
  transform: scale(0.97); /* al presionar, se encoge sutilmente */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}


@media (max-width: 425px){
  .ruleta__wheel {
    width: 18rem;
    height: 18rem;
    aspect-ratio: 1 / 1; 
  }
    .ruleta__segment-text {
    font-size: 0.7rem;
    letter-spacing: 0;
    font-weight: 600;
    border-top: .3px dotted #1a1a1a;

  }

  .btn-ruleta__btn-girar {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 320px) {
  .ruleta__wheel {
    width: 16rem;
    height: 16rem;
    aspect-ratio: 1 / 1; 
  }
}