/* .darkmode .tarea {
  background-color: #1e293b;
  color: #e2e8f0;
}

.darkmode .footer {
  background-color: #0f172a;
  color: #e2e8f0;
}

.darkmode .footer__link,
.darkmode .footer__social-link {
  color: #cbd5e1;
}

.darkmode .footer__link:hover,
.darkmode .footer__social-link:hover {
  color: #38bdf8;
}

.darkmode .seleccionado {
  background-color: #1e293b;
  border-left: 4px solid #0ea5e9;
}

.darkmode .tarea:hover {
  box-shadow: 0 4px 12px rgba(59, 130, 246, 0.4);
}  */


